@page "/Tecnicos/Trabajos/Index"

@inject TrabajosService trabajosService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@*HTML*@
<PageTitle>Index</PageTitle>
<div class="container">
    <div class="card shadow-lg">

        @*header*@
        <div class="card-header d-flex justify-content-between">
            <h5 class="card-title">Registro de Trabajos</h5>
            <a href="/Tecnicos/Trabajos/Create" class="btn btn-outline-primary"><span class="bi bi-plus-square mt-3"></span> Crear</a>
        </div>

        @*body*@
        <div class="card-body">

            @*labels*@
            <div class="row">

                @*Filtrar por*@
                <div class="col-3">
                    <label class="col-form-label"><strong>Filtrar por</strong></label>
                </div>

                @*ValorFiltro*@
                <div class="col-4">
                    <label class="col-form-label"><strong>B&uacute;squeda</strong></label>
                </div>
            </div>

            @*Inputs y botones*@
            <div class="row align-items-center">
                @*filtro*@
                <div class="col-3">
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="" selected disabled>Elija una opci&oacute;n</option>
                        <option value="Prioridad">Prioridad</option>
                        <option value="Descripcion">Descripcion</option>
                        <option value="Fecha">Fecha</option>
                        
                    </InputSelect>
                </div>

                @*Busqueda*@
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" />
                        <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                    </div>
                </div>

                @*Restablecer*@
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-secondary bi bi-arrow-clockwise" @onclick="Restablecer"></button>
                </div>


            </div>
            <table class="table table-hover text-center mt-4">
                <thead class="table table-striped text-black">
                    <tr>
                        <th><strong>TrabajoId</strong></th>
                        <th><strong>Fecha</strong></th>
                        <th><strong>ClienteId</strong></th>
                        <th><strong>Cliente</strong></th>
                        <th><strong>TecnicoId</strong></th>
                        <th><strong>Tecnico</strong></th>
                        <th><strong>Descripci&oacute;n</strong></th>
                        <th><strong>Prioridad</strong></th>
                        <th><strong>Monto</strong></th>
                        <th><strong>Details</strong></th>
                        <th><strong>Edit</strong></th>
                        <th><strong>Delete</strong></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var trabajo in ListaTrabajos)
                    {
                        <tr>
                            <td>@trabajo.TrabajoId</td>
                            <td>@trabajo.Fecha</td>
                            <td>@trabajo.Cliente.ClienteId</td>
                            <td>@trabajo.Cliente.Nombres</td>
                            <td>@trabajo.Tecnico.TecnicoId</td>
                            <td>@trabajo.Tecnico.Nombres</td>
                            <td>@trabajo.Descripcion</td>
                            <td>@trabajo.Prioridad.Descripcion</td>
                            <td>@trabajo.Monto</td>

                            <td>
                                <a href="/Tecnicos/Trabajos/Details/@trabajo.TrabajoId" class="btn btn-outline-primary bi bi-eye-fill"></a>
                            </td>

                            <td>
                                <a href="/Tecnicos/Trabajos/Edit/@trabajo.TrabajoId" class="btn btn-outline-warning bi bi-pencil-square"></a>
                            </td>

                            <td>
                                <a href="/Tecnico/Trabajos/Delete/@trabajo.TrabajoId" class="btn btn-outline-danger bi bi-trash-fill"></a>
                            </td>
                           
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*footer*@
        <div class="card-footer d-flex justify-content-between">
            <label>Cantidad: @ListaTrabajos.Count</label>
            <label>Total:$ @ListaTrabajos.Sum(t => t.Monto)</label>
        </div>
    </div>
</div>

@code {
    public List<Trabajos> ListaTrabajos { get; set; } = new List<Trabajos>();
    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaTrabajos = await trabajosService.Listar(e => e.TrabajoId > 0);
    }

    private async Task Buscar()
    {
        if (ValorFiltro.Trim() != "")
        {
            if(Filtro == "Descripcion")
            {
                ListaTrabajos = await trabajosService.Listar(e => e.Descripcion.ToLower().Contains(ValorFiltro.ToLower()));
            }else if(Filtro == "Fecha")
            {
                if (DateTime.TryParse(ValorFiltro, out DateTime fechaFiltro))
                {
                    ListaTrabajos = await trabajosService.Listar(e => e.Fecha.Date == fechaFiltro.Date);
                }
            }
            else if (Filtro == "Prioridad")
            {
                ListaTrabajos = await trabajosService.Listar(e => e.Prioridad.Descripcion.ToLower().Contains(ValorFiltro.ToLower()));
            }
        }
        else
            ListaTrabajos = await trabajosService.Listar(e => e.TrabajoId > 0);
    }

    private async Task Restablecer()
    {
        ListaTrabajos = await trabajosService.Listar(e => e.TrabajoId > 0);
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
    }
}
